body {
    min-height: 500px;
    background-color:#f5fffa;
  background-repeat: no-repeat;
    background-size: 200px;
    background-position: 50% 50%;
}
h1 {
    color: #620ad2;
    text-shadow: 5px 5px 0 #cccccc;
}
h3 {
padding: 1em 30px;
}
.nice-cite {
    margin: 1em 0;
    padding: 1em 30px;
    line-height: 1;
    background: #f5f5f5;
    border-left: 8px solid #E7471E;
}
.ok {
    border-color: #27ae60;
    background-color: #2ecc71;
}
